<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maoshen.echo.dao.EchoDao">
  <resultMap id="echoResult" type="com.maoshen.echo.domain.Echo">
    <result column="id" property="id" jdbcType="BIGINT" />
  </resultMap>

  <select id="selectById" resultMap="echoResult"
    parameterType="map">
    select id from echo where
    id=#{id,jdbcType=BIGINT};
  </select>
</mapper>

